/*
    Custom font for entire site
*/

@font-face {
    font-family: "VT323";
    src: url("assets/fonts/VT323/VT323-Regular.ttf");
}


/*
    Text formatting across the entire site
*/

body {
    background-color: #000000;
    color: #ffffff;
    font-family: "VT323";
    text-align: center;
}

body>div {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
}

body>div>h1 {
    font-size: xx-large;
}

body>div>h2 {
    font-size: x-large;
}

body>div>p {
    font-size: large;
}


/*
    Formatting for listing pages
*/

.programListing {
    display: flex;
}

.programInfo {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.programDescription {
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: show;
}

.programButton {
    font-size: normal;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    background-color: #000000;
    border-radius: 0px;
    text-decoration: none;
    display: inline-block;
    width: 50%;
    padding: 1%;
}

.programButton:hover {
    color: #000000;
    background-color: #ffffff;
}

.programImage {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-radius: 0px;
    border-width: 1px;
    border-color: #ffffff;
}


/*
    This is used to separate elements on each page
*/

.divider {
    width: 75%;
    border-style: dashed;
    border-radius: 1px;
    border-color: #ffffff;
}


/*
    Formatting for description pages
*/

.programBanner {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-radius: 0px;
    border-width: 1px;
    border-color: #ffffff;
}

.programIcon {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-radius: 0px;
    border-width: 1px;
    border-color: #ffffff;
}

.programSplitView {
    display: flex;
}

.programSplitChild {
    width: 100%;
    padding: 1%;
}

.programDownloadButton {
    font-size: normal;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    background-color: #000000;
    border-radius: 0px;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.programDownloadButton:hover {
    color: #000000;
    background-color: #ffffff;
}

.programDownloadButton[disabled] {
    color: #7f7f7f;
    border-color: #c0c0c0;
}

.programInstallInstructions {
    text-align: left;
}


/*
    Custom CSS for the about page
*/

.me {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 25%;
    height: 25%;
}


/*
    Custom CSS for the faq page
*/

.faqDiv {
    display: flex;
    flex-wrap: wrap;
}

.faqBlock {
    display: block;
    border-radius: 0px;
    border-width: 1px;
    border-color: #ffffff;
    border-style: solid;
    background-color: #000000;
    width: 20%;
    height: auto;
    text-align: center;
    padding: 1%;
    margin: 1%;
}


/*
    Custom CSS for the 404 page
*/

.gif {
    width: 50%;
    height: 50%;
    display: inline-block;
}


/*
    Custom CSS for the home page
*/

.homepageImage {
    width: 75%;
    image-rendering: crisp-edges;
}


/*
    Custom CSS for the contact page
*/

.URLButton {
    font-size: normal;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    background-color: #000000;
    border-radius: 0px;
    text-decoration: none;
    display: inline-block;
    width: 50%;
    padding: 1%;
}

.URLButton:hover {
    color: #000000;
    background-color: #ffffff;
}

.contactDiv {
    display: flex;
    flex-wrap: wrap;
}

.contactBlock {
    display: block;
    text-align: center;
    flex: auto;
    width: 45%;
    height: auto;
    padding: 1%;
    margin: 1%;
}


/*
    Custom CSS for the header
*/

header {
    background-color: #000000;
    color: #ffffff;
    font-family: "VT323";
    word-wrap: nowrap;
}

header>div {
    text-align: center;
    display: inline;
}

header>div>h1 {
    display: inline-block;
    vertical-align: middle;
    font-family: "VT323";
    font-weight: bold;
    font-size: xx-large;
}

header>div>img {
    display: inline-block;
    vertical-align: middle;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

header>hr {
    color: #ffffff;
    text-align: center;
    width: 100%;
}

.navbar {
    display: inline;
    background-color: #000000;
    white-space: nowrap;
}

.navbar a {
    font-size: normal;
    color: #ffffff;
    /*
        NOTE: Red looks really good, but does not fit the theme of the website
        background-color: #ff0000;
    */
    padding: 10px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ffffff;
    color: #000000;
}


/*
    Custom CSS for the footer
*/

footer {
    background-color: #000000;
    color: #ffffff;
    font-family: "VT323";
    text-align: center;
}

footer>p {
    font-size: x-large;
}